

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    background-color: #fdfdfd;
    text-align: center;
}

.hero {
    background-image: url('https://github.com/nicole-horne-25/personal_website/blob/main/IMG_4778.jpg?raw=true');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 2rem;
    height: 60vh; /*adapted this code from ChatGPT*/
}

.hero h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 1rem; /*adapted this code from ChatGPT*/
}

.hero p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0.5rem; /*adapted this code from ChatGPT*/
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 0;
}

.menu-item > span {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 50px;
  }

.menu-item a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.menu :hover {
    background-color: #f3f0fa;
    transform: scale(.5); /*adapted this code from ChatGPT*/
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #eae3fa;
    margin-top: 2rem;
}

.footer p {
    font-size: 2rem;
    color: #ababab;
}

